.sub-item-link {
  text-decoration: none;   /* removes underline */
  color: brown;            /* default color */
}

.sub-item-link:visited {
  color: red;
  font-size: larger;            /* after link is visited */
}

.sub-item-link:hover {
  color: orange;           /* when hovered */
}

.sub-item-link:focus {
  outline: 2px solid blue; /* when focused (keyboard navigation) */
}

.sub-item-link:active {
  color: red;              /* when clicked */
}
body {
  font-family: Arial, sans-serif;
  margin: 35px;
  
  font: size 20px; ;
  img {
    outline: solid black;
    border-radius: 10px;
    image-orientation: var(35px);
    .sub-item-link {
      text-decoration: none;   /* removes underline */
      color: brown;            /* default color */
      text-align: center;
    }
  }
}
body{
  background: radial-gradient(circle closest-side at center, red 40%, yellow 50%, green,purple,rgb(221, 9, 221));
  height: 60vh;
}
checkbox {
  accent-color: green;
  width: 40px;
  height: 40px;
}